<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%=title%></title>

    <link rel="stylesheet" href="/css/event.css" />
  </head>
  <body>
    <div id="container">
      <h1><%=message%></h1>
      <label>Navn på meddelelse</label>
      <input type="text" id="message-name" placeholder="Skriv her.." />
      <label>Beskrivelse af Meddelelse</label>
      <input type="text" id="message-text" placeholder="Skriv her.." />
      <label>Start dato</label>
      <input type="date" id="message-start-date" />
      <label>Slut dato</label>
      <input type="date" id="message-end-date" />
      <button type="submit">Lav Meddelelse</button>
    </div>
  </body>
</html>
