<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title><%=title%></title>

        <link rel="stylesheet" href="/css/event.css" />
    </head>
    <body>
        <form
            id="container"
            action="/event-created"
            method="POST"
            enctype="multipart/form-data"
        >
            <h1><%=message%></h1>
            <label for="title" class="required-input"
                >Title på meddelelse</label
            >
            <input
                type="text"
                name="title"
                value="Onsdags Bowling"
                placeholder="Skriv her.."
                required
            />
            <label for="description">Beskrivelse af Meddelelse</label>
            <textarea name="description" placeholder="Skriv her..">
Alle er velkommen til at tage med ned i bowling hallen og spille med. Det koster 50kr per mand for en time. Klokken 12:30 - 13:30</textarea
            >
            <label for="image">Billede</label>
            <input
                type="file"
                name="image"
                accept=".jpg, .jpeg, .png, .gif, .bmp, .webp"
            />
            <strong>Datoer på hvornår det skal vises på skærmen</strong>
            <label for="start_date" class="required-input">Start dato</label>
            <input type="date" name="start_date" required />
            <label for="end_date" class="required-input">Slut dato</label>
            <input type="date" name="end_date" required />
            <button type="submit">Opret</button>
        </form>
    </body>
</html>
